.photo-grid {
  max-width: 928px;
  margin: 92px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(225px, 1fr));
  gap: 14px;
}
