.header {
  position: relative;
  left: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 928px;
  min-height: 52px;
  margin: 28px auto 48px;
}

@media screen and (min-width: 1280px) {
  .header {
    margin: 28px auto 56px;
    max-width: 1184px;
  }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
  .header {
    left: 24px;
    max-width: 720px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    margin: 16px auto 48px;
    left: 16px;
    max-width: 288px;
    min-height: 42px;
  }
}
