.footer__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  column-gap: 18px;

}

@media screen and (max-width: 768px) and (min-width: 425px) {
  .footer__links {
    flex-direction: column;
    row-gap: 32px;
  }
}

@media screen and (max-width: 425px) {
  .footer__links {
    flex-direction: column;
    row-gap: 32px;
  }
}
